.container {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    min-width: 170px;
    flex-direction: column;
    padding: 0 2.5% 2.5% 2.5%;
    font-size: 1.25em;
}

@media (max-width: 700px){ 
    .container {
        width: 85%;
        margin-top: 10%;
        align-self: center;
    }


}

@media (max-width: 850px) and (min-width: 701px)  {
    .container {
        flex-direction: column;
        width: 90%;
        margin-bottom: 10%;

        justify-content: space-between;
        align-self: center;
        font-size: x-large;
    }

}