.container {
    display: flex;
    width: 80%;
    /* border: 3px solid red; */
    padding: 3%;
    justify-content: center;
    align-self: center;
}

.text {
    align-self: center;
    font-size: 5.5em;
    font-weight: 800;

}

@media (max-width: 700px){ 
    .text {
        font-size: 13vw;

    }


}