.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    background-color: #19191a;
    margin-bottom: 2.5%;
    border-radius: 15px;
    transition: transform .35s; 
    min-width: 250px;
}

.container:hover {
    transform: scale(1.07);
}

p {
    align-self: center;
    width: 90%;
    color: #858792;
}

@media (max-width: 700px){ 
    .container {
        width: 100%;
        margin: 5% 0 ;

    }
}